@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    #login-dp{
        min-width: 250px;
        padding: 14px 14px 0;
        overflow:hidden;
        background-color:rgba(255,255,255,.8);
    }
    #login-dp .help-block{
        font-size:12px    
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    #login-dp .social-buttons{
        margin:12px 0    
    }
    #login-dp .social-buttons a{
        width: 49%;
    }
    #login-dp .form-group {
        margin-bottom: 10px;
    }
    .btn-fb{
        color: #fff;
        background-color:#3b5998;
    }
    .btn-fb:hover{
        color: #fff;
        background-color:#496ebc 
    }
    .btn-tw{
        color: #fff;
        background-color:#55acee;
    }
    .btn-tw:hover{
        color: #fff;
        background-color:#59b5fa;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
    #home{
        width: 100%;
        height: 80vh;
        background: url(img/bg.jpg) top center;
        background-size: cover;
        position: relative;
    }
    #home .container {
        position: relative;
      }      
   #home .btn-get-started{
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 35px;
        border-radius: 18px;
        transition: 0.5s;
        margin-top: 30px;
        border: 2px solid rgb(247, 240, 240);
        color: black;          
   }
   .btn-get-started:hover{
        background-color: white;  
   }
   #home a{
       text-decoration: none;
   }

   #home .container{
    padding-top: 80px;
}
@media (min-width: 1024px)
#home{
    background-attachment: fixed;
}
.navbar{
    margin-bottom: 0px;
    border-radius: 2px;
}
.container h1{
    font-weight: 600;
    font-size: 40px;
}