@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    scroll-behavior: smooth;
   }
.action{
    position: fixed;
    top: 6px;
    right: 50px;
} 
.action .profile{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu{
    position: absolute;
    top: 100px;
    right: -10px;
    padding:8px 20px;
    background: rgb(241, 201, 201);
    width:200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 70px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content:'';
    position:absolute;
    top: -5px;
    right: 22px;
    width:20px;
    height:20px;
    background: rgb(241, 201, 201);
    transform: rotate(45deg);
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.action .menu ul li i{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5s;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight:500;
    transition:0.5s;
}
.action .menu ul li:hover a{
    color:#b41a4e;
}
    
/*--------------------------------------------------------------
# Home section
--------------------------------------------------------------*/
.container{
    margin-top: 50px;
}
.sm\:text-4xl{
    font-size: 3.63rem;
    line-height: 3.5rem;
}
.text-lg{
    font-size: 1.525rem;
    line-height: 1.75rem;
}
.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.justify-center:hover{
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Feature section
--------------------------------------------------------------*/
.sec-background{
    background-color: rgb(226, 209, 243);
}
.text-2xl{
    font-size: 2.5rem;
    line-height: 2rem;
}
.sm\:text-3xl{
    font-size: 2.875rem;
    line-height: 2.25rem;
}
.text-base{
    font-size: 1.4rem;
}
.text-lg{
    font-size: 1.825rem;
    line-height: 1.75rem;
}

/*--------------------------------------------------------------
# Statictics
--------------------------------------------------------------*/
.statistic-sec{
  background-color: rgb(240, 237, 233);
}
.container h2{
  text-align: center;
}
.heading{
  padding-bottom: 50px;
}
.container-stats{
  padding-top: 20px;
}

/*--------------------------------------------------------------
# Ecommerce section
--------------------------------------------------------------*/
.section-title p{
    font-size: 3.45rem;
    margin-bottom: 40px;
    text-align: center;
    margin-top: -55px;
}
.text-xs{
    font-size: 1.45rem;
    line-height: 1rem;
}
.text-lg{
    font-size: 1.825rem;
    line-height: 1.75rem;
}
.buy-btn{
    background-color: rgb(87, 102, 240);
    border-radius: 5px;
    color: black;
}
.buy-btn:hover{
    background-color: rgb(180, 180, 240);
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #106eea;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-to-top i {
    font-size: 26px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #3284f1;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #f1f6fe;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact h3 span {
    color: #106eea;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #106eea;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #106eea;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #106eea;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #3b8af2;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    text-align: center;
    float: left;
    margin-top: 20px;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #444444;
  }
  .copyright-sec{
      height: 40px;
      margin-top: 5px;
  }
  #footer .copyright{
      padding-left: 50px;
  }
  @media (max-width: 768px) {
    #footer .copyright, #footer .credits {
      float: none;
      text-align: center;
      padding: 2px 0;
    }
  }
  